.ProductCard {
    display: flex;
    flex-direction: column;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 100%;
    max-width: 280px; /* Adjust width as needed */
    height: 400px; /* Set a fixed height */
    margin: 16px;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
}

.ProductCard:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ProductCard__image {
    width: 100%;
    height: 60%; /* Ensure the image takes up a consistent part of the card */
    overflow: hidden;
    border-bottom: 1px solid #e1e1e1;
}

.ProductCard__image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area proportionally without distorting */
}

.ProductCard__content {
    padding: 12px 16px;
    /* flex-grow: 1; */
    gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.ProductCard__content__title h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    /* margin-bottom: 8px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ProductCard__content__rating {
    display: flex;
    align-items: center;
    /* margin-bottom: 8px; */
}

.ProductCard__content__rating span {
    margin-left: 8px;
    font-size: 0.85rem;
    color: #777;
}

.ProductCard__content__rating .FaStar {
    margin-right: 4px;
}

.ProductCard__content__price p {
    font-size: 1.1rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}
