.product-main-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px;
    font-family: Arial, sans-serif;
}

.product-image-gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-image-gallery img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    transition: border 0.3s ease;
}

.product-image-gallery img:hover {
    border: 2px solid #ff9900;
}

.product-main-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e1e1e1;
    padding: 10px;
}

.product-main-image img {
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
}

.product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start
}

.product-details h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.product-details h2 {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
    color: #0f743b;
}

.product-details p {
    margin-bottom: 12px;
    font-size: 16px;
    color: #333;
}

.product-details button {
    padding: 12px 20px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 200px;
}

.product-details button:hover {
    background-color: #3e3e3e;
}

.product-image-gallery img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    transition: border 0.3s ease;
    border: 1px solid #e1e1e1;
}

.product-image-gallery img:hover {
    border: 2px solid #ff9900;
}

.product-image-gallery img.active-thumbnail {
    border: 2px solid #ff9900;
}

.product-main-image img {
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
}