<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Productimages Table Entries</h1>
    {% for productImage in all_products %}
        <div>id = {{ productImage.id }}</div>
        <div>productId = {{ productImage.productId }}</div>
        <div>image_url = {{ productImage.image_url }}</div>
        <p>"==================="</p>
    {% endfor %}
</body>
</html>