<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Review Table Entries</h1>
    {% for review in all_reviews %}
        <div>id = {{ review.id }}</div>
        <div>stars = {{ review.stars }}</div>
        <div>review = {{review.review }}</div>
        <div>userId = {{ review.userId }}</div>
        <div>productId= {{ review.productId }}</div>
        <p>"==================="</p>
    {% endfor %}
</body>
</html>